main section{
    width: 96%;
    margin-left: 2vw;
}

main .Banner{
    display: none;
}

main h2{
    font-size: var(--titulares);
    width: 96vw;
    color: var(--colorGrisOscuro);
    margin-top: 10px;
    margin-left: 2vw;
}
main h4{
    font-size: 18px;
    width: 100%;
}
main h5{
    font-size: 15px;
    width: 100%;
}

main section article {
    background-color: white;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    position: relative;
}
main section article .Cont{
    padding: 15px;
    border-top: 1px solid var(--colorGrisClaro);
}

main section article .precio{
    display: flex;
    align-items: center;
    width: 100%;
}

main section article .Descripcion{
    font-size: var(--descripciones);
    color: var(--colorGrisOscuro);
    margin-top: 10px;
}
main section article .precio .Precios{
    width: fit-content;
    margin-right: 10px;
    font-size: var(--precios);
    color: black;
}
main section article .precio .Descuentos{
    width: 70%;
    font-size: var(--descuentos);
    color: var(--colorVerde);
}
main section article .Truck{
    color: var(--colorVerde);
    padding: 10px;
    border: 1px solid var(--colorVerde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 76px;
}

main article img{
    width: 100%;
} 

/* Tablet */

@media (min-width:616px) {
    main div .Banner {
        display: block;
        width: 100%;
    }
    main section article .Descripcion{
        display: block;
        font-size: var(--descripciones);
        color: var(--colorGrisOscuro);
        margin-top: 10px;
    }
    main section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 96%;
        margin-left: 2vw;
    }
    main h2{
        font-size: var(--titulares);
        width: 96vw;
        color: var(--colorGrisOscuro);
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 4vw;
    }
    main section article {
        background-color: white;
        width: 45%;
        padding: 10px 0;
        margin: 10px 0;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section article .precio{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    main section article .Descripcion{
        font-size: var(--descripciones);
        color: var(--colorGrisOscuro);
        margin-top: 10px;
    }
    main section article .precio .Precios{
        width: fit-content;
        margin-right: 10px;
        font-size: var(--precios);
        color: black;
    }
    main section article .precio .Descuentos{
        width: 70%;
        font-size: var(--descuentos);
        color: var(--colorVerde);
    }
    main section article .Truck{
        color: var(--colorVerde);
        padding: 10px;
        border: 1px solid var(--colorVerde);
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        bottom: 76px;
    }
    
    main article img{
        width: 100%;
    } 
    
}

/* Desktop */

@media (min-width:795px) {

    main section article .Descripcion{
        display: block;
        font-size: var(--descripciones);
        color: var(--colorGrisOscuro);
        margin-top: 10px;
    }
    main div .Banner {
        display: block;
        width: 100%;
    }
    main section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 96%;
        margin-left: 2vw;
    }
    main h2{
        font-size: var(--titulares);
        width: 96vw;
        color: var(--colorGrisOscuro);
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 3.3vw;
    }
    main section article {
        background-color: white;
        width: 22%;
        padding: 10px 0;
        margin: 10px 0;
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    main section article .precio{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    main section article .Descripcion{
        font-size: var(--descripciones);
        color: var(--colorGrisOscuro);
        margin-top: 10px;
    }
    main section article .precio .Precios{
        width: fit-content;
        margin-right: 10px;
        font-size: var(--precios);
        color: black;
    }
    main section article .precio .Descuentos{
        width: 70%;
        font-size: var(--descuentos);
        color: var(--colorVerde);
    }
    main section article .Truck{
        color: var(--colorVerde);
        padding: 10px;
        border: 1px solid var(--colorVerde);
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        bottom: 76px;
    }
    
    main article img{
        width: 100%;
    } 
    
}

